.venv/
venv/
pvcore/models/.venv

__pycache__/
pvcore/__pycache__/
pvcore/shared/__pycache__
pvcore/api/__pycache__/
pvcore/shared/utils/__pycache__/
*.pyo
*.pyc
uv.lock

pvcore/models/weights/Hybrid-CDCN-ResViT.pth
pvcore/models/weights/MobileNetV3.pth
